main {
    margin: 60px;
    padding: 100px;
    font-family: sans-serif;
    background-color: rgb(218, 213, 213);
}
body {
background-color: black;
}
.presentation {
    display: flex;
}
.presentation > div {
    flex: 1;
}
img {
    margin-right: 5px;

}
.contact-information {
    text-align: center;
}
p.who {
    font-weight: bold;
}
h2 {
    padding: 10px;
    background-color:rgb(50, 156, 205);
    color: aliceblue;
}
table {
    width: 100%;
    text-align: left;
}